[Unit]
Description=controller
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/piCar/controller.py
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
