[Unit]
Description=local webcam streamer
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mjpg_streamer -i "/usr/local/lib/mjpg-streamer/input_uvc.so -d /dev/monitor -y -r 640x480" -o "/usr/local/lib/mjpg-streamer/output_http.so -w /usr/local/share/mjpg-streamer/www -p 8080"
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
